<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{title}}</h1>
    </div>
    <div class="col-md-4">
        <div class="alert alert-success alert-dismissable" *ngIf="msg">
            <a href="#" class="close" (click)="clickme()">&times;</a>
            {{msg}}
          </div>

    </div>
  </div>

</div>


<div class="container">
<h2>create Data:</h2>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control col-md-4" name="name" [(ngModel)]="model.name" id="name">
  </div>
  <div class="form-group">
    <label for="position">Position:</label>
    <input type="text" class="form-control col-md-4" name="position" [(ngModel)]="model.position" id="position">
  </div>
  <button type="submit" class="btn btn-success" (click)="addEmployee()">Submit</button>
</form>

<h2>read & delete data</h2>
<table class="table">
    <thead>
      <tr>
        <th width=400> Name</th>
        <th width=400>position</th>
        <th width=200>Action</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i=index">
        <td>{{employee.name}}</td>
        <td>{{employee.position}}</td>
        <td>
          <button class="btn btn-success" (click)="editEmployee(i)">Edit</button>
          <button class="btn btn-danger" (click)="deleteEmployee(i)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>


  <h2>update data</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control col-md-4" name="name" [(ngModel)]="model2.name" id="name">
    </div>
    <div class="form-group">
      <label for="position">Position:</label>
      <input type="text" class="form-control col-md-4" name="position" [(ngModel)]="model2.position" id="position">
    </div>
    <button type="submit" class="btn btn-success" (click)="updateEmployee()">update</button>
  </form>
  </div>


